MINIFRAME/bin
MINIFRAME/obj
POS05/bin
POS05/obj
POS05BASE/bin
POS05BASE/obj
POS05EN/bin
POS05EN/obj
POS05PAYM/bin
POS05PAYM/obj
POS05PROMO/bin
POS05PROMO/obj
TBPOS/bin
TBPOS/obj
TBPOS2.suo
/.vs/TBPOS2
